<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'css/users_crud_style.css') }}">
</head>
<body>
    <h1>Edit User {{user.id}}</h1>
    <form action="/user/update" method="post">
        <input type="hidden" name="id" value={{user.id}}>
        <input type="text" name="first_name" value="{{user.first_name}}">
        <input type="text" name="last_name" value="{{user.last_name}}">
        <input type="text" name="email" value="{{user.email}}">
        <input type="submit" name="update" value="Update">
    </form>
    <a href="/read_all">All Users</a>
    <a href="/read_one/{{user.id}}">Read One</a>
</body>
</html>